.faq {
  background-color: red;
  margin: auto;
  padding: 3rem 0;
  background: #e6e6e6;
}

.faq h1 {
  margin: 30px 0 20px;
}

.faq-title {
  width: 80%;
  margin: 0 auto 5rem;
  text-align: center;
}

.faq-grid {
  width: 80%;
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 0 50px;
}

.faq-rightside,
.faq-leftside {
  width: 70%;
}

.faq p,
.faq h4 {
  color: var(--secondary-color);
  font-size: 18px;
}

.faq h4 {
  margin-bottom: 8px;
}

.faq p {
  margin: 0 0 0px;
}

.faq a {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 400px) {
  .faq {
    padding: 3rem;
  }

  .faq-title {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .faq-grid {
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0 2rem;
  }

  .faq-rightside,
  .faq-leftside {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  .faq-rightside {
    margin-bottom: 1.3rem;
  }

  .faq-leftside {
    margin-top: 1.3rem;
  }

  .faq p,
  .faq h4 {
    color: var(--secondary-color);
    font-size: 1.6rem;
  }

  .faq a {
    text-decoration: none;
    color: var(--secondary-color);
  }
} ;
