footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  padding: 1rem;
  margin: 0 auto;
  color: var(--footer-text-color);
  background-color: var(--secondary-color);
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  order: 2;
}

footer p {
  order: 1;
  font-size: 12px;
  margin: 0 2rem;
}

.footer-social svg {
  height: 25px;
  margin: 0 5px;
}

.footer-social svg:hover path {
  fill: #ffffff;
}

.link-home {
  order: 0;
  margin: 0 2rem;
  font-size: 12px;
  color: var(--footer-text-color);
}

.link-home:visited,
.link-home:focus,
.link-home:active {
  color: var(--footer-text-color);
}

.link-home:hover {
  color: white;
}

@media (max-width: 1200px) {
  footer p {
    font-size: 1rem;
    margin: 0 2rem;
  }
  .footer-social svg {
    height: 2rem;
    margin: 0 0.5rem;
  }
  .link-home {
    margin: 0 2rem;
    font-size: 1rem;
    color: var(--footer-text-color);
  }
}

@media (max-width: 900px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    color: var(--footer-text-color);
    background-color: var(--secondary-color);
  }
  footer p {
    font-size: 0.8rem;
    order: 2;
    margin: 0 2rem;
  }
  .footer-social {
    order: 0;
  }

  .footer-social svg {
    height: 1.3rem;
    margin: 0 0.5rem;
  }
  .link-home {
    margin: 0 2rem;
    order: 1;
    font-size: 0.8rem;
    color: var(--footer-text-color);
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin: 0 auto;
    height: 100%;
    color: var(--footer-text-color);
    background-color: var(--secondary-color);
  }

  footer p {
    text-align: center;
    font-size: 1.3rem;
    order: 2;
    margin: 1rem 3rem;
  }

  .footer-social {
    order: 0;
    margin: 1rem;
  }

  .footer-social svg {
    height: 1.8rem;
    margin: 0 0.5rem;
  }
  .link-home {
    text-align: center;
    margin: 0 2rem;
    order: 1;
    font-size: 1.3rem;
    color: var(--footer-text-color);
  }
}

@media (max-width: 500px) {
  footer p {
    font-size: 1rem;
    order: 2;
    margin: 1rem 3rem;
  }
} ;
