nav {
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

nav a {
  font-weight: 500;
  letter-spacing: 1.3px;
  color: var(--secondary-color);
}

nav img {
  height: 50px;
}

.links button {
  border: none;
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.links button:hover {
  color: var(--primary-color);
}

.links button:active,
.links button:focus {
  outline: none;
}
