.social-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 60vh;
}

.facebook,
.youtube,
.instagram {
  width: 300px;
  height: 300px;
  margin: 0 3vw 5vh;
}

.social-cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.social-cards svg {
  transform: scale(0.8);
  margin: 0;
}

.social-cards h2 {
  color: var(--primary-color);
  font-size: 3.6rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 1200px) {
  .social-section {
    height: auto;
    padding: 2rem 0;
  }

  .main-title h1 {
    font-size: 3.6rem;
    text-align: center;
    margin: 1rem 0;
  }

  .social-cards h2 {
    font-size: 2.4rem;
  }

  .facebook,
  .youtube,
  .instagram {
    width: 200px;
    height: 200px;
    margin: 0 3vw 5vh;
  }
}

@media (max-width: 768px) {
  .social-section {
    height: auto;
    padding: 2rem 0;
  }

  .main-title h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
  }

  .social-cards h2 {
    font-size: 1.8rem;
  }

  .facebook,
  .youtube,
  .instagram {
    width: 150px;
    height: 150px;
    margin: 0 0vw 5vh;
  }
}

@media (max-width: 400px) {
  .social-section {
    padding-top: 3rem;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-title h1 {
    margin: 2rem 0;
    font-size: 1.6rem;
    margin: 0 0 1rem;
  }

  .facebook,
  .youtube,
  .instagram {
    width: 120px;
    height: 120px;
  }

  .social-cards {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-cards h2 {
    font-size: 1.2rem;
  }
}
